.tripal-analysis-blast-info-hsp-desc {
  position: absolute; 
  background-color: #FFFFFF;
  border: 1px solid #CCC5AE;
  padding: 20px;
  width: 650px;
  max-height: 250px;
  overflow: auto;
  display: none;
}
.tripal-analysis-blast-info-hsp-desc pre{
  background-color: #FFFFFF;
  border: none;
  overflow: auto;
  width: 630px;
  padding: 0 0 10px 0;
}
