
.tripal_analysis_blast-info-box-desc {
  margin-top: 20px;
}
.tripal-analysis-blast-info-hsp-desc {
  position: fixed; 
  background-color: #FFFFFF;
  border: 2px solid #CCC5AE;
  padding: 20px;
  width: 650px;
  max-height: 250px;
  overflow: auto;
  display: none;
  top: 150px;
  z-index: 10;
}
.tripal-analysis-blast-info-hsp-desc pre{
  background-color: #FFFFFF;
  border: none;
  overflow: auto;
  width: 630px;
  padding: 0 0 10px 0;
}
.hsp-desc-close {
  float: right;
}